<html>
  <head>
    <title>Scoreboard</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
      <div class="container">
        
      <a
        href="#"
        class="navbar-brand mb-0 h1">
        SMAPSS
      </a>
      <button
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      class="navbar-toggler"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
      
        <span class="navbar-toggler-icon"></span>
      </button>
      
          
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="/userprofile" class="nav-link active">
              user profile
            </a>
          </li>
          
          <li class="nav-item active">
            <a href="/scoreboard" class="nav-link active">
              scoreboard
            </a>
          </li>
          <li class="nav-item active">
            <a href="/shareprediction" class="nav-link active">
              Share Prediction
            </a>
          </li>
        </ul>
      </div
      <form class="d-flex">
        <input type="text" class="form-control me-2">
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </nav>
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <table>
      <tr>
        <th>Username</th>
        <th>Score</th>
      </tr>
      <tr>
        <td>user1</td>
        <td>100</td>
      </tr>
      <tr>
        <td>user2</td>
        <td>90</td>
      </tr>
      <tr>
        <td>user3</td>
        <td>80</td>
      </tr>
      <tr>
        <td>{{profile.profile_name}}</td>
        <td>{{profile.score}}</td>
      </tr>
      
    </table>
  </body>
</html>